body {
    background-color: #B1DDF0;

}
#my_name, #lab_work {
    font-family: fantasy;
    color: deeppink;
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
    word-spacing: 4pt;
    letter-spacing: 2pt;
}
#lab_work{
    font-size: 2rem;
}

.param {
    font-size: large;
    font-weight: bold;
}

img {
    height: 300px;
}

#table tr:hover {
    color: darkblue;
    background-color: hotpink;
}
#table > thead {
    font-size: large;
}

#table > caption {
    font-size: larger;
    font-weight: bold;
    background-color: deeppink;
    height: 2.5ch;
}
h1, h2, #table > tr{
    text-align: center;
}
.butt:hover, .butt:focus{
    background-color: lightpink;
}
.butt {
    background-color: cornflowerblue;
    font-weight: bold;
    padding: 4px 9px 4px;
    font-size: large;
    display: flex;
    justify-content: center;
}
.spinner{
    white-space: nowrap;
}

a{
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 6%;
    margin-right: 0.4%;
    text-align: center;
    line-height: 1;
    padding: 3px 3px 3px;
    color: black;
    background-color: lightpink;
}
a:link, a:visited{
    color: black;
    background-color: lightpink;
}
a:hover, a:focus{
    background-color: deeppink;
    border-bottom: 1px solid;
}
a:active{
    background: cornflowerblue;
    color: black;
}
.success{
    color: green;
}
.fail {
    color: red;
}

.paramss{
    float: left;
    width: 30%;
}
.buttonss{
    width: 20%;
}
.canvasss{
    float:right;
    width: 50%;
}
.result_in_table{
    width: 100%;
}

